<!-- bg-gradient-danger put this if you want nice background -->
<div class="header pb-8 pt-5 pt-md-8">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <h1>Management Law and Order Information</h1>
            <hr>
            <p class="h3">What is Crime?</p>
            <p class="h3">Crimes are generally graded into four categories: felonies, misdemeanors, felony-misdemeanors, and infractions. Often
              the criminal intent element affects a crime's grading.</p>
            <p class="h3">What is Felonies?</p>
            <p class="h3">Felonies are the most serious crimes. They are either supported by a heinous intent, like the intent to kill, or
              accompanied by an extremely serious result, such as loss of life, grievious injury, or destruction of property.
              Felonies are serious so they are graded the highest, and all sentencing options are available. Depending on the
              jurisdiction and the crime, the sentence could be execution, prison time, a fine, or alternative sentencing such as probation,
              rehabilitation, and home confinement. Potential consequences of a felony conviction also include the inability to vote own a weapon,
              or even praticipate in certain careers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
