<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="">Received Compliant</h1>
              </div>
              <div class="col text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                <input class="form-control" type="search" placeholder="Search"/>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Report Number</th>
                  <th scope="col">Date Received</th>
                  <th scope="col">Compliant Name</th>
                  <th scope="col">Compliant Type</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">BC-2023-001</th>
                  <td>2023-05-02</td>
                  <td>Juan Dela Cruz</td>
                  <td>
                    <!-- <i class="fas fa-arrow-up text-success mr-3"></i>  -->
                    Noise Disturbance
                  </td>
                  <td>Complaint about loud music and noise coming from a neighboring residence during late hours.</td>
                  <td>In Progress</td>

                  <td>
                    <button class="btn btn-primary mr-2" type="button">Edit</button>
                    <button class="btn btn-success" type="button">View Details</button>
                  </td>

                </tr>
                <tr>
                  <th scope="row">BC-2023-002</th>
                  <td>2023-05-02</td>
                  <td>Juan Dela Cruz</td>
                  <td>
                    <!-- <i class="fas fa-arrow-up text-success mr-3"></i>  -->
                    Noise Disturbance
                  </td>
                  <td>Complaint about loud music and noise coming from a neighboring residence during late hours.</td>
                  <td>In Progress</td>

                  <td>
                    <button class="btn btn-primary mr-2" type="button">Edit</button>
                    <button class="btn btn-success" type="button">View Details</button>
                  </td>

                </tr>
                <tr>
                  <th scope="row">BC-2023-003</th>
                  <td>2023-05-02</td>
                  <td>Juan Dela Cruz</td>
                  <td>
                    <!-- <i class="fas fa-arrow-up text-success mr-3"></i>  -->
                    Noise Disturbance
                  </td>
                  <td>Complaint about loud music and noise coming from a neighboring residence during late hours.</td>
                  <td>In Progress</td>

                  <td>
                    <button class="btn btn-primary mr-2" type="button">Edit</button>
                    <button class="btn btn-success" type="button">View Details</button>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
