<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="">Reporters information</h1>
              </div>
              <div class="col text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->

              </div>
            </div>
            <div class="row align-items-center mb-2">
              <div class="col">
                <input class="form-control" type="text" placeholder="First Name"/>
              </div>
              <div class="col text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                <input class="form-control" type="text" placeholder="MI"/>
              </div>
              <div class="col text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                <input class="form-control" type="text" placeholder="Last Name"/>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <select class="form-control">
                  <option value="" selected>Barangay</option>
                </select>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Barangay</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>juan</td>
                  <td>sample</td>
                  <td>
                    <!-- <i class="fas fa-arrow-up text-success mr-3"></i>  -->
                   Barangay A
                  </td>
                  <td>09123456789</td>
                  <td>
                    <button class="btn btn-primary" type="button">View Details</button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>juan</td>
                  <td>sample</td>
                  <td>
                    <!-- <i class="fas fa-arrow-up text-success mr-3"></i>  -->
                   Barangay A
                  </td>
                  <td>09123456789</td>
                  <td>
                    <button class="btn btn-primary" type="button">View Details</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
