<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <h1>Announcement</h1>
            <hr>
            <p class="h3">malacañang Palace Manila</p>
            <p class="h4">By The President Of The Philippines</p>
            <p class="h2">Proclamation NO. 233</p>
            <p class="h6">
              DECLARING FRIDAY, 26 MAY 2023, A SPECIAL (NON-WORKING) DAY IN THE PROVINCE OF TARLAC
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
