<div class="container">
  <br /><br /><br /><br />
  <div class="row mb-2">
    <div class="col">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onUpdatePassword()">
        <h1 class="text-center text-white">
          Mobile Crime and Compliant Report Management System for San Clemente,
          Tarlac
        </h1>
        <div class="card mx-auto shadow bg-white custom-card-size mt-5">
          <div class="card-body">
            <h1>Reset Password</h1>
            <!-- <p class="text-center text-dark">No Account? Create One <a routerLink="/auth/sign-up">Sign up</a></p> -->
            <div class="row">
              <div class="col">
                <label for="newPassword" class="mb-1">New Password: </label>
                <input
                  id="newPassword"
                  class="form-control"
                  type="password"
                  placeholder="New Password"
                  formControlName="newPassword"
                />
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'Password is required',
                    control: resetPasswordForm.controls['newPassword']
                  }"
                ></ng-container>
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'minlength',
                    message: 'Password should have at least 8 Characters',
                    control: resetPasswordForm.controls['newPassword']
                  }"
                ></ng-container>
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'maxLength',
                    message: 'Password should have maximum 100 Characters',
                    control: resetPasswordForm.controls['newPassword']
                  }"
                ></ng-container>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <label for="confirmNewPassword" class="mb-1"
                  >Confirm New Password:
                </label>
                <input
                  id="confirmNewPassword"
                  class="form-control"
                  type="password"
                  placeholder="Confirm New Password"
                  name=""
                  formControlName="confirmNewPassword"
                />
                <span
                  class="text-danger"
                  *ngIf="resetPasswordForm.errors?.['passwordMismatchError'] && getControl('confirmNewPassword')?.touched"
                >
                  Password and Confirm password does not match!
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span class="text-danger">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
