<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <img class="" src="../../../assets/media/logos/san-clemente-logo.png" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-white">Welcome to Mobile Crime and Complaint Management System..</h1>
      <h3 class="text-white">
        a crime and complaint report management system will make Brgy Doclong second
        crime and complaint management more useful by letting the locals know about the most recent and up-to-date
        complaints in their community.
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-primary oval-border" routerLink="auth/sign-in">Get Started</a>
    </div>
  </div>

</div>

