<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <h1>Announcement</h1>
            <hr>
            <form [formGroup]="announcementForm" (ngSubmit)="onCreateAnnouncement()">
              <angular-editor id="description" formControlName="description" [config]="editorConfig"></angular-editor>
              <button class="btn btn-primary" type="submit">
                <!-- <span class="iconify" data-icon="iconoir:save-floppy-disk"></span> -->
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
