
//angular material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// if you'd like to use it without importing all of bootstrap it requires
//for ngx-toastr
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/ngx-toastr/toastr-bs4-alert';

.oval-border{
  border-radius: 100px;
}

div.custom-card-size{
  max-width: 600px;
  // border-radius: 25px;
}

.scrollable-div{
  overflow-y: auto;
  max-height: 400px;
}

.text-danger {
  color: red;
}


.body-image {
  /* Set the background image URL */
  background-image: url('./assets/images/admin-background.jpg');

  /* Make the background image cover the entire screen */
  background-size: cover;

  /* Center the background image horizontally and vertically */
  background-position: center center;

  /* Prevent the background image from repeating */
  background-repeat: no-repeat;

  /* Optional: Set a background color in case the image doesn't cover the entire screen */
  background-color: #f0f0f0; /* Replace with your desired color */

  /* Optional: Fix the background image so it doesn't scroll with the content */
  background-attachment: fixed;
}
